:root {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  background: #EC1846;
}

.btn-primary--alt {
  background: #FF5E71;
}

.btn-link {
  color: #EC1846;
}

.btn-link--alt {
  color: #FF5E71;
}

a {
  color: #EC1846;
}

header {
  height: 54px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  color: #071934;
  margin: 30px 160px 0 160px;
}

header nav {
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #textomat-logo {
  margin: 0 15px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin-left: 50px;
}

header nav ul li a {
  font-size: 15px;
  font-weight: 400;
  color: #071934;
}

header nav ul li span {
  font-size: 1rem;
  font-weight: 900;
  color: #071934;
}

header nav ul li a:hover {
  color: #071934;
  text-decoration: none;
}

header nav ul #nav-search-icon {
  margin: 0 15px 0 30px;
}

section.head-content {
  color: #071934;
  margin: 70px 160px 0 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.head-content div.headings-desktop h1 {
  font-weight: 700;
  margin-bottom: 5px;
}

section.head-content div.headings-desktop h2 {
  font-weight: 300;
  margin-bottom: 14px;
}

section.head-content div.headings-desktop h3 {
  font-weight: 500;
  margin-bottom: 19px;
}

section.head-content div.headings-desktop h4 {
  font-weight: 900;
  margin-bottom: 21px;
}

section.head-content div.headings-desktop h5 {
  font-weight: 900;
  margin-bottom: 22px;
}

section.head-content div.headings-desktop h6 {
  font-weight: 300;
}

section.head-content div.headings-mobile h1 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 18px;
}

section.head-content div.headings-mobile h2 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 20px;
}

section.head-content div.headings-mobile h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 22px;
}

section.head-content div.headings-mobile h4 {
  font-size: 0.9375rem;
  font-weight: 900;
  margin-bottom: 23px;
}

section.head-content div.headings-mobile h5 {
  font-size: 0.5625rem;
  font-weight: 700;
  margin-bottom: 24px;
}

section.head-content div.headings-mobile h6 {
  font-size: 0.5625rem;
  font-weight: 400;
}

section.head-content div.texts {
  margin-top: 0;
  display: block;
}

section.head-content div.texts article.lead-text {
  max-width: 352px;
}

section.head-content div.texts article.lead-text h2 {
  font-weight: 300;
}

section.head-content div.texts article.lead-text p {
  color: #868686;
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 35px;
}

section.head-content div.texts article.lead-text p a {
  color: #EC1846;
}

section.head-content div.texts article.root-text {
  max-width: 352px;
}

section.head-content div.texts article.root-text h3 {
  font-weight: 500;
}

section.head-content div.texts article.root-text p {
  color: #868686;
  font-weight: 300;
  font-size: 0.8125rem;
}

section.head-content div.texts article.root-text p a {
  color: #EC1846;
}

section.head-content div.group-1 article.unorder-list {
  margin-bottom: 40px;
  width: 220px;
}

section.head-content div.group-1 article.unorder-list h3 {
  font-weight: 500;
}

section.head-content div.group-1 article.unorder-list ul {
  padding-top: 10px;
  padding-left: 20px;
}

section.head-content div.group-1 article.unorder-list ul li {
  font-size: 1rem;
  font-weight: 300;
  color: #0A3FCA;
  margin-bottom: 5px;
}

section.head-content div.group-1 article.unorder-list ul li span {
  color: #868686;
}

section.head-content div.group-1 article.buttons {
  width: 220px;
}

section.head-content div.group-1 article.buttons button.btn-primary {
  font-size: 0.9375rem;
  font-weight: 900;
  padding: 19px 30px 17px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
}

section.head-content div.group-1 article.buttons button.btn-primary:hover {
  background: #FF5E71;
}

section.head-content div.group-1 article.buttons button.btn-primary:focus {
  background: #FF5E71;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section.head-content div.group-1 article.buttons button[disabled] {
  background: #E5E5E5;
  cursor: default;
}

section.head-content div.group-1 article.buttons button[disabled]:hover {
  background: #E5E5E5;
}

section.head-content div.links {
  max-width: 280px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.head-content div.links button {
  font-size: 0.9375rem;
  font-weight: 900;
  text-transform: uppercase;
}

section.head-content div.links button:hover {
  color: #FF5E71;
  text-decoration: none;
}

section.head-content div.links button:focus {
  color: #FF5E71;
  text-decoration: none;
}

section.head-content div.links button[disabled] {
  font-size: 0.9375rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #aaa;
}

section.main-content {
  padding: 0 160px;
  background-color: #fafafa;
}

section.main-content div.left-side-menu {
  padding-top: 46px;
  color: #071934;
}

section.main-content div.left-side-menu div {
  margin: 0;
}

section.main-content div.left-side-menu h4 {
  font-weight: 900;
  margin-bottom: 24px;
}

section.main-content div.left-side-menu div.left-side-menu-content {
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  background-color: #fff;
  width: 385px;
}

section.main-content div.left-side-menu div.left-side-menu-content button {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.main-content div.left-side-menu div.left-side-menu-content div {
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}

section.main-content div.left-side-menu div.left-side-menu-content div svg {
  margin: 0 15px 0 20px;
}

section.main-content div.left-side-menu div.left-side-menu-content div h6 {
  font-weight: 300;
  margin: 0;
}

section.main-content div.left-side-menu div.left-side-menu-content div:hover button h6 {
  color: #FF5E71;
}

section.main-content div.left-side-menu div.left-side-menu-content div:hover .side-menu-arrow path {
  fill: #FF5E71;
}

section.main-content div.left-side-menu div.left-side-menu-content div:last-child {
  border-bottom: none;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-orders .side-menu-arrow {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 21px;
  pointer-events: none;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-orders h6 {
  padding-left: 2px;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-orders button:hover svg path {
  fill: #FF5E71;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-message .side-menu-arrow {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 21px;
  pointer-events: none;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-message h6 {
  padding-left: 5px;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-message button:hover svg g {
  stroke: #FF5E71;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-message button:hover svg path {
  stroke: #FF5E71;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-preferences .side-menu-arrow {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 21px;
  pointer-events: none;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-preferences button:hover svg rect {
  fill: #FF5E71;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-preferences button:hover svg path {
  fill: #FF5E71;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-logout .side-menu-arrow {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 21px;
  pointer-events: none;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-logout h6 {
  padding-left: 7px;
}

section.main-content div.left-side-menu div.left-side-menu-content #side-menu-logout button:hover svg path {
  fill: #FF5E71;
}

section.main-content div.left-side-menu .side-menu-complete h6 {
  color: #1044CB;
}

section.main-content div.left-side-menu .side-menu-complete:after {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../img/completed-icon.svg");
  position: absolute;
  right: 21px;
  pointer-events: none;
}

section.main-content div.table {
  color: #071934;
  padding-top: 46px;
  margin: 0;
  width: auto;
}

section.main-content div.table h4 {
  font-weight: 900;
  margin-bottom: 24px;
}

section.main-content div.table table {
  text-transform: uppercase;
  border: 1px solid #E5E5E5;
}

section.main-content div.table table tr {
  background-color: #ffffff;
}

section.main-content div.table table tr td {
  padding: 15px 0;
  color: #aaa;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

section.main-content div.table table tr td h6 {
  font-weight: 300;
  margin: 0;
  color: #071934;
  text-align: left;
}

section.main-content div.table table tr th {
  padding: 0 65px 0 65px;
  text-align: center;
  border-bottom: 1px solid #1044CB;
}

section.main-content div.table table tr th h5 {
  font-weight: 900;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

section.main-content div.table table tr th:first-child {
  padding-right: 285px;
  padding-left: 50px;
  text-align: left;
}

section.main-content div.table table tr th:last-child {
  padding-right: 120px;
}

section.main-content div.table table tr td:first-child {
  padding-left: 50px;
}

section.main-content div.table table tr td:last-child {
  padding-right: 55px;
}

section.main-content div.table table tr:nth-child(odd) {
  background-color: #fafafa;
}

section.main-content div.table table tr:first-child {
  background-color: #ffffff;
}

section.main-content div.image-box {
  border-radius: 5px;
  margin: 0 20px 20px 0;
}

section.main-content div.image-box img {
  max-width: 385px;
  max-height: 480px;
}

section.main-content div.image-box .image-box-text {
  color: #071934;
  width: auto;
  padding: 20px;
  background-color: #ffffff;
  margin: 0;
}

section.main-content div.image-box .image-box-text span {
  font-size: 9px;
  font-weight: 400;
  margin: 0 0 5px 0;
}

section.main-content div.image-box .image-box-text h6 {
  font-weight: 300;
}

section.main-content div.image-box .image-box-text p {
  font-weight: 300;
  font-size: 13px;
  color: #868686;
  margin: 0;
}

section.main-content div.image-box-xl {
  position: relative;
  height: 569px;
}

section.main-content div.image-box-xl .image-box-text {
  position: absolute;
  bottom: 0;
  max-width: 385px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

section.main-content div.image-box-sm {
  position: relative;
  height: 402px;
}

section.main-content div.image-box-sm .image-box-text {
  position: absolute;
  bottom: 0;
  max-width: 385px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

section.main-content div.image-box-side-sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 520px;
}

section.main-content div.image-box-side-sm .image-box-text {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

section.main-content div.image-box-side-xl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 790px;
}

section.main-content div.image-box-side-xl .image-box-text {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

section.main-content div.inputs {
  width: 385px;
  margin-right: 20px;
}

section.main-content div.inputs div {
  margin-bottom: 20px;
}

section.main-content div.inputs .filter-option {
  margin: 0;
}

section.main-content div.inputs div.custom-select {
  border: 0;
  padding: 0;
  height: 54px;
}

section.main-content div.inputs div.custom-select div.dropdown {
  width: 100%;
  height: 54px;
}

section.main-content div.inputs div.custom-select div.dropdown button {
  width: 100%;
  height: 54px;
  background: #ffffff;
  padding: 17px 21px;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

section.main-content div.inputs div.custom-select div.dropdown button:focus {
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

section.main-content div.inputs div.custom-select div.dropdown button::after {
  position: absolute;
  top: 50%;
  right: 21px;
}

section.main-content div.inputs div.custom-select div.dropdown div.dropdown-menu {
  margin: 0;
  border: 1px solid #1044CB;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0;
}

section.main-content div.inputs div.custom-select div.dropdown div.dropdown-menu div {
  margin: 0;
}

section.main-content div.inputs div.custom-select div.dropdown div.dropdown-menu .dropdown-item {
  font-size: 13px;
  font-weight: 300;
  color: #aaa;
  background: #ffffff;
  padding-top: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #E5E5E5;
}

section.main-content div.inputs div.custom-select div.dropdown div.dropdown-menu .dropdown-item-last {
  border-bottom: none;
}

section.main-content div.inputs div.custom-select div.dropdown.show button {
  border: 1px solid #1044CB;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

section.main-content div.inputs div.select label {
  display: block;
  font-size: 9px;
  font-weight: 900;
  color: #071934;
  margin-bottom: 9px;
}

section.main-content div.inputs div.select div.select-input {
  position: relative;
  height: 54px;
}

section.main-content div.inputs div.select div.select-input select {
  height: 54px;
  width: 385px;
  padding: 17px 21px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  color: #868686;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

section.main-content div.inputs div.select select::-ms-expand {
  display: none;
}

section.main-content div.inputs div.select select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #1044CB;
  color: #071934;
  outline: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

section.main-content div.inputs div.select select:focus ~ svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: calc(50% - 4px);
}

section.main-content div.inputs div.select select[disabled] {
  height: 54px;
  width: 385px;
  padding: 17px 21px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  color: #868686;
  color: #E5E5E5;
}

section.main-content div.inputs div.select svg {
  position: absolute;
  top: calc(50% - 3px);
  right: 16px;
}

section.main-content div.conditions label {
  display: block;
  font-size: 9px;
  font-weight: 900;
  color: #071934;
  margin-bottom: 9px;
}

section.main-content div.conditions textarea {
  height: 54px;
  width: 385px;
  padding: 17px 21px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  color: #868686;
  min-height: 85px;
  height: 187px;
  max-height: 400px;
}

section.main-content div.conditions textarea:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #1044CB;
  color: #071934;
  outline: 0;
}

section.main-content div.conditions textarea:required {
  border: 1px solid #FF5E71;
}

section.main-content div.conditions textarea:required:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #1044CB;
  color: #071934;
  outline: 0;
}

section.main-content div.activate label {
  display: block;
  font-size: 9px;
  font-weight: 900;
  color: #071934;
  margin-bottom: 9px;
}

section.main-content div.activate div.activate-input {
  position: relative;
}

section.main-content div.activate div.activate-input input {
  height: 54px;
  width: 385px;
  padding: 17px 21px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  color: #868686;
  text-indent: 24px;
}

section.main-content div.activate div.activate-input input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #1044CB;
  color: #071934;
  outline: 0;
}

section.main-content div.activate div.activate-input input:required {
  border: 1px solid #FF5E71;
}

section.main-content div.activate div.activate-input input:required:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #1044CB;
  color: #071934;
  outline: 0;
}

section.main-content div.activate div.activate-input img {
  position: absolute;
  top: calc(50% - 8px);
  left: 21px;
}

section.main-content div.input-radio label {
  font-weight: 300;
  margin: 0 10px 0 0;
  padding: 0 0 0 40px;
  color: #071934;
  position: relative;
  height: 30px;
  font-size: 15px;
  color: #071934;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section.main-content div.input-radio label::before {
  content: " ";
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding-right: 30px;
  position: absolute;
  left: 0;
}

section.main-content div.input-radio label::after {
  content: " ";
  width: 14px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: 9px;
  background-image: url("../img/checked.svg");
  opacity: 0;
}

section.main-content div.input-radio input {
  margin-top: 5px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 30px;
  height: 30px;
  z-index: 5;
}

section.main-content div.input-radio input:checked ~ label {
  color: #1044CB;
}

section.main-content div.input-radio input:checked ~ label::before {
  border: 1px solid #1044CB;
}

section.main-content div.input-radio input:checked ~ label::after {
  opacity: 1;
}

section.main-content div.input-checkbox label {
  font-weight: 300;
  margin: 0 10px 0 0;
  padding: 0 0 0 40px;
  color: #071934;
  position: relative;
  height: 30px;
  font-size: 15px;
  color: #071934;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

section.main-content div.input-checkbox label::before {
  content: " ";
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding-right: 30px;
  position: absolute;
  left: 0;
}

section.main-content div.input-checkbox label::after {
  content: " ";
  width: 14px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: 9px;
  background-image: url("../img/checked.svg");
  opacity: 0;
}

section.main-content div.input-checkbox input {
  margin-top: 5px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 30px;
  height: 30px;
  z-index: 5;
}

section.main-content div.input-checkbox input:checked ~ label {
  color: #1044CB;
}

section.main-content div.input-checkbox input:checked ~ label::before {
  border: 1px solid #1044CB;
}

section.main-content div.input-checkbox input:checked ~ label::after {
  opacity: 1;
}

section.main-content div.budget label {
  display: block;
  font-size: 9px;
  font-weight: 900;
  color: #071934;
  margin-bottom: 9px;
}

section.main-content div.budget input {
  height: 54px;
  width: 385px;
  padding: 17px 21px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  color: #868686;
  width: 360px;
}

section.main-content div.budget input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #1044CB;
  color: #071934;
  outline: 0;
}

section.main-content div.budget input:required {
  border: 1px solid #FF5E71;
}

section.main-content div.budget input:required:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #1044CB;
  color: #071934;
  outline: 0;
}

section.main-content div.budget input[type="number"]::-webkit-inner-spin-button,
section.main-content div.budget input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

section.main-content div.charts {
  width: 100%;
  /* Apply the gradients */
}

section.main-content div.charts div.chart {
  border-radius: 5px;
  margin-bottom: 50px;
}

section.main-content div.charts #gradient-0 stop {
  stop-color: #7cb5ec;
}

section.main-content div.charts #gradient-0 stop[offset="0"] {
  stop-opacity: 0.75;
}

section.main-content div.charts #gradient-0 stop[offset="1"] {
  stop-opacity: 0;
}

section.main-content div.charts #gradient-1 stop {
  stop-color: #cccccc;
}

section.main-content div.charts #gradient-1 stop[offset="0"] {
  stop-opacity: 0;
}

section.main-content div.charts #gradient-1 stop[offset="1"] {
  stop-opacity: 0.25;
}

section.main-content div.charts .highcharts-plot-background {
  fill: url(#gradient-1);
}

section.main-content div.charts .highcharts-color-0 .highcharts-area {
  fill-opacity: 1;
  fill: url(#gradient-0);
}

section.main-content div.charts div.order-box {
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 18px 10px;
  color: #071934;
  margin: 0 0 20px 0;
  position: relative;
  width: 100%;
}

section.main-content div.charts div.order-box span {
  font-size: 16px;
  font-weight: 500;
}

section.main-content div.charts div.order-box div.order-box-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 45px;
  position: relative;
}

section.main-content div.charts div.order-box div.order-box-steps div.order-box-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.main-content div.charts div.order-box div.order-box-steps div.order-box-step img {
  margin-right: 7px;
}

section.main-content div.charts div.order-box div.order-box-steps div.order-box-step p {
  margin: 0;
  font-size: 9px;
  font-weight: 400;
}

section.main-content div.charts div.order-box div.order-box-steps div.order-box-step .add-icon {
  width: 19px;
  height: 16px;
}

section.main-content div.charts div.order-box div.order-box-steps div.order-box-step .end-icon {
  width: 14px;
  height: 14px;
}

section.main-content div.charts div.order-box div.order-box-steps div.order-box-step .choose-icon {
  width: 13px;
  height: 13px;
}

section.main-content div.charts div.order-box div.order-box-steps .order-box-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 9px;
}

section.main-content div.charts div.order-box div.order-box-steps .order-box-category p {
  margin: 0;
}

section.main-content div.charts div.order-box div.order-box-steps .order-box-category p:first-child {
  padding: 3px 10px;
  color: #868686;
  font-weight: 400;
  border: 1px solid #E5E5E5;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

section.main-content div.charts div.order-box div.order-box-steps .order-box-category p:last-child {
  padding: 3px 7px;
  color: #ffffff;
  font-weight: 700;
  background: #10DC7A;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

section.main-content div.charts div.order-box div.order-box-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #868686;
  font-weight: 300;
  font-size: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 18px;
  left: 10px;
}

section.main-content div.charts div.order-box div.order-box-users p {
  margin: 0 0 0 5px;
}

section.main-content div.charts div.order-box-sm {
  width: 385px;
  margin-right: 20px;
}

section.main-content div.charts div.order-box-lg {
  min-width: 720px;
  max-width: 800px;
  height: 96px;
}

section.main-content div.charts div.order-box-lg div.order-box-steps {
  width: 320px;
  position: absolute;
  right: 10px;
  top: 18px;
  margin: 0;
  padding-bottom: 42px;
}

section.main-content div.charts div.order-box-lg div.order-box-users {
  bottom: 9px;
}

section.main-content div.charts div.order-box-xl {
  height: 96px;
}

section.main-content div.charts div.order-box-xl div.order-box-steps {
  width: 320px;
  position: absolute;
  right: 10px;
  top: 18px;
  margin: 0;
  padding-bottom: 42px;
}

section.main-content div.charts div.order-box-xl div.order-box-users {
  bottom: 9px;
}

section.main-content div.accordions div.accordion-box {
  margin-bottom: 10px;
}

section.main-content div.accordions button.accordion {
  height: 54px;
  width: 385px;
  padding: 17px 21px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  color: #868686;
  width: 100%;
  background: #ffffff;
  color: #071934;
  text-align: left;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

section.main-content div.accordions svg {
  position: absolute;
  top: calc(50% - 3px);
  right: 16px;
}

section.main-content div.accordions button.accordion:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

section.main-content div.accordions button.active {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #1044CB;
  color: #071934;
  outline: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

section.main-content div.accordions button.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  top: calc(50% - 5px);
}

section.main-content div.accordions div.accordion-more {
  padding: 20px;
  border: 1px solid #1044CB;
  border-top: none;
  background: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

section.main-content div.accordions div.accordion-more p {
  font-size: 13px;
  font-weight: 300;
  color: #868686;
  margin: 0;
}

section.main-content div.subscription {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.main-content div.subscription div.subscription-box {
  max-width: 338px;
  max-height: 634px;
  background-color: #ffffff;
  padding: 70px 57px;
  margin: 35px 0;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #071934;
}

section.main-content div.subscription div.subscription-box h2 {
  margin-top: 23px;
  margin-bottom: 18px;
  font-weight: 300;
}

section.main-content div.subscription div.subscription-box p {
  text-align: center;
  font-size: 13px;
  font-weight: 300;
  color: #868686;
  margin-bottom: 20px;
}

section.main-content div.subscription div.subscription-box ul {
  padding: 0;
  list-style: none;
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  min-width: 192px;
  margin-bottom: 21px;
}

section.main-content div.subscription div.subscription-box ul li {
  margin-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E5E5E5;
}

section.main-content div.subscription div.subscription-box ul li:first-child {
  margin-top: 0;
}

section.main-content div.subscription div.subscription-box ul li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

section.main-content div.subscription div.subscription-box button.btn-primary {
  font-size: 0.9375rem;
  font-weight: 900;
  padding: 19px 30px 17px;
  border-radius: 5px;
  margin-bottom: 30px;
  border: none;
  min-width: 180px;
  margin: 0;
}

section.main-content div.subscription div.subscription-box button.btn-primary:hover {
  background: #FF5E71;
}

section.main-content div.subscription div.subscription-box button.btn-primary:focus {
  background: #FF5E71;
  -webkit-box-shadow: none;
          box-shadow: none;
}

section.main-content div.subscription div.subscription-box small {
  font-size: 9px;
  font-weight: 700;
  margin-top: 7px;
}

section.main-content div.subscription div.subscription-space {
  padding: 10px;
  border-radius: 5px;
  background: #ffffff;
  -webkit-box-shadow: 0 6px 11px rgba(7, 25, 52, 0.16);
          box-shadow: 0 6px 11px rgba(7, 25, 52, 0.16);
  z-index: 5;
  margin: 0;
}

section.main-content div.subscription div.best-choice {
  border: 1px solid #1044CB;
  position: relative;
  margin-bottom: 0;
  z-index: 5;
  margin: 0;
  height: 100%;
  max-height: 100%;
}

section.main-content div.subscription div.best-choice ul {
  margin-bottom: 40px;
}

section.main-content div.subscription div.best-choice:after {
  content: "";
  width: 120px;
  height: 120px;
  background-image: url("../img/good-choice.svg");
  position: absolute;
  top: 0;
  right: 0;
}

section.main-content div.orders-table {
  position: relative;
}

section.main-content div.orders-table div.order-box {
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  padding: 18px 10px;
  color: #071934;
  margin: 0 0 20px 0;
  position: relative;
  width: 100%;
}

section.main-content div.orders-table div.order-box span {
  font-size: 16px;
  font-weight: 500;
}

section.main-content div.orders-table div.order-box div.order-box-steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 45px;
  position: relative;
}

section.main-content div.orders-table div.order-box div.order-box-steps div.order-box-step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.main-content div.orders-table div.order-box div.order-box-steps div.order-box-step img {
  margin-right: 7px;
}

section.main-content div.orders-table div.order-box div.order-box-steps div.order-box-step p {
  margin: 0;
  font-size: 9px;
  font-weight: 400;
}

section.main-content div.orders-table div.order-box div.order-box-steps div.order-box-step .add-icon {
  width: 19px;
  height: 16px;
}

section.main-content div.orders-table div.order-box div.order-box-steps div.order-box-step .end-icon {
  width: 14px;
  height: 14px;
}

section.main-content div.orders-table div.order-box div.order-box-steps div.order-box-step .choose-icon {
  width: 13px;
  height: 13px;
}

section.main-content div.orders-table div.order-box div.order-box-steps .order-box-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 9px;
}

section.main-content div.orders-table div.order-box div.order-box-steps .order-box-category p {
  margin: 0;
}

section.main-content div.orders-table div.order-box div.order-box-steps .order-box-category p:first-child {
  padding: 3px 10px;
  color: #868686;
  font-weight: 400;
  border: 1px solid #E5E5E5;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

section.main-content div.orders-table div.order-box div.order-box-steps .order-box-category p:last-child {
  padding: 3px 7px;
  color: #ffffff;
  font-weight: 700;
  background: #10DC7A;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

section.main-content div.orders-table div.order-box div.order-box-users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #868686;
  font-weight: 300;
  font-size: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 18px;
  left: 10px;
}

section.main-content div.orders-table div.order-box div.order-box-users p {
  margin: 0 0 0 5px;
}

section.main-content div.orders-table div.order-box-sm {
  width: 385px;
  margin-right: 20px;
}

section.main-content div.orders-table div.order-box-lg {
  min-width: 720px;
  max-width: 800px;
  height: 96px;
}

section.main-content div.orders-table div.order-box-lg div.order-box-steps {
  width: 320px;
  position: absolute;
  right: 10px;
  top: 18px;
  margin: 0;
  padding-bottom: 42px;
}

section.main-content div.orders-table div.order-box-lg div.order-box-users {
  bottom: 9px;
}

section.main-content div.orders-table div.order-box-xl {
  height: 96px;
}

section.main-content div.orders-table div.order-box-xl div.order-box-steps {
  width: 320px;
  position: absolute;
  right: 10px;
  top: 18px;
  margin: 0;
  padding-bottom: 42px;
}

section.main-content div.orders-table div.order-box-xl div.order-box-users {
  bottom: 9px;
}

section.main-content div.orders-table div.orders-table-box {
  margin: 0;
}

section.main-content div.orders-table div.orders-table-box div.order-box:last-child {
  margin: 0;
}

section.main-content div.orders-table button.orders-table-switch:first-child {
  margin-left: 30px;
}

section.main-content div.orders-table button.orders-table-switch {
  font-size: 24px;
  font-weight: 900;
  background: none;
  border: none;
  margin-right: 78px;
  padding: 0;
  color: #aaa;
  padding-bottom: 16px;
  cursor: pointer;
}

section.main-content div.orders-table button.orders-table-switch:focus {
  -webkit-box-shadow: 0;
          box-shadow: 0;
  outline: 0;
}

section.main-content div.orders-table button.active {
  color: #1044CB;
  border-bottom: 2px solid #1044CB;
  padding-bottom: 14px;
}

section.main-content div.orders-table div.orders-table-content {
  display: none;
  position: absolute;
  left: 0;
  background: #ffffff;
  padding: 30px;
  width: 100%;
}

section.main-content div.downloads div.download-box {
  height: 83px;
  background: #ffffff;
  border-radius: 5px;
  min-width: 520px;
  padding: 0 19px;
  margin: 0 20px 20px 0;
  color: #071934;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.main-content div.downloads div.download-box div.download-box-text {
  height: 48px;
  margin: 0;
}

section.main-content div.downloads div.download-box div.download-box-text p {
  font-size: 9px;
  font-weight: 700;
  margin-bottom: 5px;
}

section.main-content div.downloads div.download-box div.download-box-text h6 {
  font-weight: 300;
  margin-bottom: 4px;
}

section.main-content div.downloads div.download-box div.download-box-text p:last-child {
  font-size: 9px;
  font-weight: 500;
  color: #aaa;
}

section.main-content div.downloads div.download-box a {
  font-size: 15px;
  font-weight: 900;
}

section.main-content div.downloads div.download-box a:hover, section.main-content div.downloads div.download-box a:focus {
  text-decoration: none;
  color: #FF5E71;
}

footer {
  padding: 85px 160px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
  -ms-grid-rows: 100px 100px;
      grid-template-rows: 100px 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer img {
  max-width: 35px;
  max-height: 35px;
}
/*# sourceMappingURL=style.css.map */