section.main-content {
  div.accordions {
    div.accordion-box {
        margin-bottom: 10px;
    }

    button.accordion {
        @include inputStyle; // from select.scss
        width: 100%;
        background: $white;
        color: $black;
        text-align: left;
        position: relative;
        user-select: none;
        cursor: pointer;
    }

    svg {
        position: absolute;
        top: calc(50% - 3px);
        right: 16px;
    }

    button.accordion:focus {
        box-shadow: none;
        outline: 0;
    }

    button.active {
        @include inputStyleFocus; // from select.scss
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        svg {
            transform: rotate(180deg);
            top: calc(50% - 5px);
        }
    }

    div.accordion-more {
        padding: 20px;
        border: 1px solid $indigo;
        border-top: none;
        background: $white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        display: none;

        p {
            font-size: 13px;
            font-weight: $font-weight-lighter;
            color: $gray-600;
            margin: 0;
        }
    }
  }
}
