body {
    font-family: $font-family-base;
}

.btn-primary {
    background: $primary;
}

.btn-primary--alt {
    background: $secondary;
}

.btn-link {
    color: $primary;
}

.btn-link--alt {
    color: $secondary;
}

a {
    color: $primary;
}