@mixin fontStyle {
    font-size: $font-size-base * 0.9375;
    font-weight: $font-weight-bolder;
}

@mixin buttonStyle {
    padding: 19px 30px 17px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: none;
}

section.head-content {
    div.group-1 {
        article.buttons {
            width: 220px;

            button.btn-primary {
                @include fontStyle;
                @include buttonStyle;
            }

            button.btn-primary:hover {
                background: $secondary;
            }

            button.btn-primary:focus {
                background: $secondary;
                box-shadow: none;
            }

            button[disabled] {
                background: $light;
                cursor: default;
            }

            button[disabled]:hover {
                background: $light;
            }
        }
    }
}