section.main-content {
    div.downloads {
        div.download-box {
            height: 83px;
            background: $white;
            border-radius: 5px;
            min-width: 520px;
            padding: 0 19px;
            margin: 0 20px 20px 0;
            color: $black;
            justify-content: space-between;
            align-items: center;

            div.download-box-text {
                height: 48px;
                margin: 0;

                p {
                    font-size: 9px;
                    font-weight: $font-weight-bold;
                    margin-bottom: 5px;
                }
    
                h6 {
                    font-weight: $font-weight-lighter;
                    margin-bottom: 4px;
                }
    
                p:last-child {
                    font-size: 9px;
                    font-weight: $font-weight-normal;
                    color: $gray-500;
                }
            }

            a {
                font-size: 15px;
                font-weight: $font-weight-bolder;
            }

            a:hover, a:focus {
                text-decoration: none;
                color: $secondary;
            }
        }
    }
}