footer {
    padding: 85px 160px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 100px 100px;
    align-items: center;

    img {
        max-width: 35px;
        max-height: 35px;
    }
}