section.head-content {
  color: $black;
  margin: 70px 160px 0 160px;
  display: flex;
  justify-content: space-between;

  div.headings-desktop {
    h1 {
      font-weight: $font-weight-bold;
      margin-bottom: 5px;
    }

    h2 {
      font-weight: $font-weight-lighter;
      margin-bottom: 14px;
    }

    h3 {
      font-weight: $font-weight-normal;
      margin-bottom: 19px;
    }

    h4 {
      font-weight: $font-weight-bolder;
      margin-bottom: 21px;
    }

    h5 {
      font-weight: $font-weight-bolder;
      margin-bottom: 22px;
    }

    h6 {
      font-weight: $font-weight-lighter;
    }
  }

  div.headings-mobile {
    h1 {
      font-size: $font-size-base * 1.5;
      font-weight: $font-weight-bolder;
      margin-bottom: 18px;
    }

    h2 {
      font-size: $font-size-base * 1.5;
      font-weight: $font-weight-lighter;
      margin-bottom: 20px;
    }

    h3 {
      font-size: $font-size-base * 1;
      font-weight: $font-weight-normal;
      margin-bottom: 22px;
    }

    h4 {
      font-size: $font-size-base * 0.9375;
      font-weight: $font-weight-bolder;
      margin-bottom: 23px;
    }

    h5 {
      font-size: $font-size-base * 0.5625;
      font-weight: $font-weight-bold;
      margin-bottom: 24px;
    }

    h6 {
      font-size: $font-size-base * 0.5625;
      font-weight: $font-weight-light;
    }
  }
}
