header {
  height: 54px;
  box-shadow: 0 3px 6px rgba(#000, 0.16);
  border-radius: 5px;
  color: $black;
  margin: 30px 160px 0 160px;

  nav {
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #textomat-logo {
        margin: 0 15px;
        transform: translateY(3px);
    }

    ul {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0;

      li {
        margin-left: 50px;

        a {
          font-size: 15px;
          font-weight: $font-weight-light;
          color: $black;
        }

        span {
          font-size: $font-size-base;
          font-weight: $font-weight-bolder;
          color: $black;
        }

        a:hover {
          color: $black;
          text-decoration: none;
        }
      }

      #nav-search-icon {
          margin: 0 15px 0 30px;
      }
    }
  }
}
