@mixin imageBox {
  position: relative;

  .image-box-text {
    position: absolute;
    bottom: 0;
    max-width: 385px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

@mixin imageBoxSide {
  display: flex;

  .image-box-text {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

section.main-content {
  div.image-box {
    border-radius: 5px;
    margin: 0 20px 20px 0;

    img {
      max-width: 385px;
      max-height: 480px;
    }

    .image-box-text {
      color: $black;
      width: auto;
      padding: 20px;
      background-color: $white;
      margin: 0;

      span {
        font-size: 9px;
        font-weight: $font-weight-light;
        margin: 0 0 5px 0;
      }

      h6 {
        font-weight: $font-weight-lighter;
      }

      p {
        font-weight: $font-weight-lighter;
        font-size: 13px;
        color: $gray-600;
        margin: 0;
      }
    }
  }

  div.image-box-xl {
    @include imageBox;
    height: 569px;
  }

  div.image-box-sm {
    @include imageBox;
    height: 402px;
  }

  div.image-box-side-sm {
    @include imageBoxSide;
    width: 520px;
  }

  div.image-box-side-xl {
    @include imageBoxSide;
    width: 790px;
  }
}
