@mixin arrowIconStyle {
  .side-menu-arrow {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 21px;
    pointer-events: none;
  }
}

section.main-content {
  padding: 0 160px;
  background-color: $gray-100;

  div.left-side-menu {
    padding-top: 46px;
    color: $black;

    div {
      margin: 0;
    }

    h4 {
      font-weight: $font-weight-bolder;
      margin-bottom: 24px;
    }

    div.left-side-menu-content {
      border: 1px solid $light;
      border-radius: 5px;
      background-color: #fff;
      width: 385px;

      button {
        background: none;
        border: none;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0;
        cursor: pointer;
        align-items: center;
      }

      div {
        height: 50px;
        align-items: center;
        border-bottom: 1px solid $light;
        position: relative;

        svg {
          margin: 0 15px 0 20px;
        }

        h6 {
          font-weight: $font-weight-lighter;
          margin: 0;
        }
      }

      div:hover {
        button {
          h6 {
          color: $secondary;
          }
        }

        .side-menu-arrow {
          path {
            fill: $secondary;
          }
        }
      }

      div:last-child {
        border-bottom: none;
      }

      #side-menu-orders {
        @include arrowIconStyle;

        h6 {
          padding-left: 2px;
        }
      }

      #side-menu-orders button:hover {
        svg {
          path {
            fill: $secondary;
          }
        }
      }

      #side-menu-message {
        @include arrowIconStyle;

        h6 {
            padding-left: 5px;
        }
      }

      #side-menu-message button:hover {
        svg {
          g {
            stroke: $secondary;
          }

          path {
            stroke: $secondary;
          }
        }
      }

      #side-menu-preferences {
        @include arrowIconStyle;
      }

      #side-menu-preferences button:hover {
        svg {
          rect {
            fill: $secondary;
          }

          path {
            fill: $secondary;
          }
        }
      }

      #side-menu-logout {
        @include arrowIconStyle;

        h6 {
          padding-left: 7px;
        }
      }

      #side-menu-logout button:hover {
        svg {
          path {
            fill: $secondary;
          }
        }
      }
    }

    .side-menu-complete {
      h6 {
        color: $indigo;
      }
    }

    .side-menu-complete:after {
      content: "";
      width: 30px;
      height: 30px;
      background-image: url("../img/completed-icon.svg");
      position: absolute;
      right: 21px;
      pointer-events: none;
    }
  }
}
