@mixin linkStyle {
  font-size: $font-size-base * 0.9375;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;
}

section.head-content {
  div.links {
    max-width: 280px;
    align-self: center;

    button {
      @include linkStyle;
    }

    button:hover {
      color: $secondary;
      text-decoration: none;
    }

    button:focus {
      color: $secondary;
      text-decoration: none;
    }

    button[disabled] {
      @include linkStyle;
      color: $gray-500;
    }
  }
}
