section.main-content {
  div.orders-table {
    position: relative;

    div.order-box {
      background: $white;
      border: 1px solid $light;
      border-radius: 5px;
      padding: 18px 10px;
      color: $black;
      margin: 0 0 20px 0;
      position: relative;
      width: 100%;

      span {
        font-size: 16px;
        font-weight: $font-weight-normal;
      }

      div.order-box-steps {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        padding-bottom: 45px;
        position: relative;

        div.order-box-step {
          display: flex;
          justify-content: center;

          img {
            margin-right: 7px;
          }

          p {
            margin: 0;
            font-size: 9px;
            font-weight: $font-weight-light;
          }

          .add-icon {
            width: 19px;
            height: 16px;
          }

          .end-icon {
            width: 14px;
            height: 14px;
          }

          .choose-icon {
            width: 13px;
            height: 13px;
          }
        }

        .order-box-category {
          display: flex;
          position: absolute;
          bottom: 0;
          right: 0;
          font-size: 9px;

          p {
            margin: 0;
          }

          p:first-child {
            padding: 3px 10px;
            color: $gray-600;
            font-weight: $font-weight-light;
            border: 1px solid $light;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
          }

          p:last-child {
            padding: 3px 7px;
            color: $white;
            font-weight: $font-weight-bold;
            background: $green;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
          }
        }
      }

      div.order-box-users {
        display: flex;
        color: $gray-600;
        font-weight: $font-weight-lighter;
        font-size: 13px;
        align-items: center;
        position: absolute;
        bottom: 18px;
        left: 10px;

        p {
          margin: 0 0 0 5px;
        }
      }
    }

    div.order-box-sm {
      width: 385px;
      margin-right: 20px;
    }

    div.order-box-lg {
      min-width: 720px;
      max-width: 800px;
      @include xlStyle;
    }

    div.order-box-xl {
        @include xlStyle;
    }

    div.orders-table-box {
        margin: 0;

        div.order-box:last-child {
          margin: 0;
        }
    }

    button.orders-table-switch:first-child {
        margin-left: 30px;
    }

    button.orders-table-switch {
      font-size: 24px;
      font-weight: $font-weight-bolder;
      background: none;
      border: none;
      margin-right: 78px;
      padding: 0;
      color: $gray-500;
      padding-bottom: 16px;
      cursor: pointer;
    }

    button.orders-table-switch:focus {
      box-shadow: 0;
      outline: 0;
    }

    button.active {
      color: $indigo;
      border-bottom: 2px solid $indigo;
      padding-bottom: 14px;
    }

    div.orders-table-content {
      display: none;
      position: absolute;
      left: 0;
      background: $white;
      padding: 30px;
      width: 100%;
    }
  }
}
