@mixin labelStyle {
  display: block;
  font-size: 9px;
  font-weight: $font-weight-bolder;
  color: $black;
  margin-bottom: 9px;
}

@mixin inputStyle {
  height: 54px;
  width: 385px;
  padding: 17px 21px;
  border: 1px solid $light;
  border-radius: 5px;
  font-size: 15px;
  font-weight: $font-weight-lighter;
  color: $gray-600;
}

@mixin inputStyleFocus {
  box-shadow: none;
  border: 1px solid $indigo;
  color: $black;
  outline: 0;
}

@mixin inputStyleDisabled {
  @include inputStyle;
  color: $light;
}

@mixin checkboxLabel {
  font-weight: $font-weight-lighter;
  margin: 0 10px 0 0;
  padding: 0 0 0 40px;
  color: $black;
  position: relative;
  height: 30px;
  font-size: 15px;
  color: $black;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

@mixin checkboxLabelBefore {
  content: " ";
  width: 30px;
  height: 30px;
  background: $white;
  border: 1px solid $light;
  border-radius: 5px;
  padding-right: 30px;
  position: absolute;
  left: 0;
}

@mixin checkboxLabelAfter {
  content: " ";
  width: 14px;
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: 9px;
  background-image: url("../img/checked.svg");
  opacity: 0;
}

@mixin checkboxInput {
  margin-top: 5px;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width: 30px;
  height: 30px;
  z-index: 5;
}

section.main-content {
  div.inputs {
    width: 385px;
    margin-right: 20px;

    div {
      margin-bottom: 20px;
    }

    .filter-option {
      margin: 0;
    }

    div.custom-select {
      border: 0;
      padding: 0;
      height: 54px;

      div.dropdown {
        width: 100%;
        height: 54px;

        button {
          width: 100%;
          height: 54px;
          background: $white;
          padding: 17px 21px;
          font-size: 15px;
          font-weight: $font-weight-lighter;
          border: 1px solid $light;
          border-radius: 5px;
          overflow: hidden;
          box-shadow: none;
          outline: 0;
        }

        button:focus {
          overflow: hidden;
          box-shadow: none;
          outline: 0;
        }

        button::after {
          position: absolute;
          top: 50%;
          right: 21px;
        }

        div.dropdown-menu {
          margin: 0;
          border: 1px solid $indigo;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          padding: 0;

          div {
            margin: 0;
          }

          .dropdown-item {
            font-size: 13px;
            font-weight: $font-weight-lighter;
            color: $gray-500;
            background: $white;
            padding-top: 18px;
            padding-bottom: 18px;
            border-bottom: 1px solid $light;
          }

          .dropdown-item-last {
            border-bottom: none;
          }
        }
      }

      div.dropdown.show {
        button {
          border: 1px solid $indigo;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    div.select {
      label {
        @include labelStyle;
      }

      div.select-input {
        position: relative;
        height: 54px;

        select {
          @include inputStyle;
          appearance: none;}
        }

        select::-ms-expand {
          display: none;
        }

        select:focus {
          @include inputStyleFocus;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        select:focus ~ svg {
          transform: rotate(180deg);
          top: calc(50% - 4px);
        }

        select[disabled] {
          @include inputStyleDisabled;
        }

        svg {
          position: absolute;
          top: calc(50% - 3px);
          right: 16px;
        }
      }
    }

    div.conditions {
      label {
        @include labelStyle;
      }

      textarea {
        @include inputStyle;
        min-height: 85px;
        height: 187px;
        max-height: 400px;
      }

      textarea:focus {
        @include inputStyleFocus;
      }

      textarea:required {
        border: 1px solid $secondary;
      }

      textarea:required:focus {
        @include inputStyleFocus;
      }
    }

    div.activate {
      label {
        @include labelStyle;
      }

      div.activate-input {
        position: relative;

        input {
          @include inputStyle;
          text-indent: 24px;
        }

        input:focus {
          @include inputStyleFocus;
        }

        input:required {
          border: 1px solid $secondary;
        }

        input:required:focus {
          @include inputStyleFocus;
        }

        img {
          position: absolute;
          top: calc(50% - 8px);
          left: 21px;
        }
      }
    }

    div.input-radio {
      label {
        @include checkboxLabel;
      }

      label::before {
        @include checkboxLabelBefore;
      }

      label::after {
        @include checkboxLabelAfter;
      }

      input {
        @include checkboxInput;
      }

      input:checked ~ label {
        color: $indigo;
      }

      input:checked ~ label::before {
        border: 1px solid $indigo;
      }

      input:checked ~ label::after {
        opacity: 1;
      }
    }

    div.input-checkbox {
      label {
        @include checkboxLabel;
      }

      label::before {
        @include checkboxLabelBefore;
      }

      label::after {
        @include checkboxLabelAfter;
      }

      input {
        @include checkboxInput;
      }

      input:checked ~ label {
        color: $indigo;
      }

      input:checked ~ label::before {
        border: 1px solid $indigo;
      }

      input:checked ~ label::after {
        opacity: 1;
      }
    }

    div.budget {
      label {
        @include labelStyle;
      }

      input {
        @include inputStyle;
        width: 360px;
      }

      input:focus {
        @include inputStyleFocus;
      }

      input:required {
        border: 1px solid $secondary;
      }

      input:required:focus {
        @include inputStyleFocus;
      }

      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
}
