section.main-content {
  div.subscription {
    justify-content: center;

    div.subscription-box {
      max-width: 338px;
      max-height: 634px;
      background-color: $white;
      padding: 70px 57px;
      margin: 35px 0;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $black;

      h2 {
        margin-top: 23px;
        margin-bottom: 18px;
        font-weight: $font-weight-lighter;
      }

      p {
        text-align: center;
        font-size: 13px;
        font-weight: $font-weight-lighter;
        color: $gray-600;
        margin-bottom: 20px;
      }

      ul {
        padding: 0;
        list-style: none;
        font-size: 15px;
        font-weight: $font-weight-lighter;
        text-align: center;
        min-width: 192px;
        margin-bottom: 21px;

        li {
          margin-top: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid $light;
        }

        li:first-child {
          margin-top: 0;
        }

        li:last-child {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }

      button.btn-primary {
        @include fontStyle; // from buttons.scss
        @include buttonStyle; // from buttons.scss
        min-width: 180px;
        margin: 0;
      }

      button.btn-primary:hover {
        background: $secondary;
      }

      button.btn-primary:focus {
        background: $secondary;
        box-shadow: none;
      }

      small {
        font-size: 9px;
        font-weight: $font-weight-bold;
        margin-top: 7px;
      }
    }

    div.subscription-space {
      padding: 10px;
      border-radius: 5px;
      background: $white;
      box-shadow: 0 6px 11px rgba($black, 0.16);
      z-index: 5;
      margin: 0;
    }

    div.best-choice {
      border: 1px solid $indigo;
      position: relative;
      margin-bottom: 0;
      z-index: 5;
      margin: 0;
      height: 100%;
      max-height: 100%;
      
      ul {
        margin-bottom: 40px;
      }
    }

    div.best-choice:after {
      content: "";
      width: 120px;
      height: 120px;
      background-image: url("../img/good-choice.svg");
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
