section.main-content {
  div.table {
    color: $black;
    padding-top: 46px;
    margin: 0;
    width: auto;

    h4 {
      font-weight: $font-weight-bolder;
      margin-bottom: 24px;
    }

    table {
      text-transform: uppercase;
      border: 1px solid $light;

      tr {
        background-color: $white;

        td {
          padding: 15px 0;
          color: $gray-500;
          font-size: 13px;
          font-weight: $font-weight-light;
          text-align: center;

          h6 {
            font-weight: $font-weight-lighter;
            margin: 0;
            color: $black;
            text-align: left;
          }
        }

        th {
          padding: 0 65px 0 65px;
          text-align: center;
          border-bottom: 1px solid $indigo;

          h5 {
            font-weight: $font-weight-bolder;
            margin: 0;
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }

        th:first-child {
          padding-right: 285px;
          padding-left: 50px;
          text-align: left;
        }

        th:last-child {
            padding-right: 120px;
        }

        td:first-child {
          padding-left: 50px;
        }

        td:last-child {
            padding-right: 55px;
        }
      }

      tr:nth-child(odd) {
        background-color: $gray-100;
      }

      tr:first-child {
        background-color: $white;
      }
    }
  }
}
