section.head-content {
  div.texts {
    margin-top: 0;
    display: block;

    article.lead-text {
      max-width: 352px;

      h2 {
        font-weight: $font-weight-lighter;
      }

      p {
        color: $gray-600;
        font-weight: $font-weight-lighter;
        font-size: $font-size-base;
        margin-bottom: 35px;

        a {
          color: $primary;
        }
      }
    }

    article.root-text {
      max-width: 352px;

      h3 {
        font-weight: $font-weight-normal;
      }

      p {
        color: $gray-600;
        font-weight: $font-weight-lighter;
        font-size: $font-size-base * 0.8125;

        a {
          color: $primary;
        }
      }
    }
  }
}
