section.head-content {
  div.group-1 {
    article.unorder-list {
      margin-bottom: 40px;
      width: 220px;

      h3 {
        font-weight: $font-weight-normal;
      }

      ul {
        padding-top: 10px;
        padding-left: 20px;

        li {
            font-size: $font-size-base;
            font-weight: $font-weight-lighter;
            color: $blue;
            margin-bottom: 5px;

            span {
                color: $gray-600;
            }
        }
      }
    }
  }
}
