// Fonts
$font-family-base: 'Roboto', sans-serif;

$font-size-base: 1rem;

$font-weight-lighter: 300;
$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

$h1-font-size: $font-size-base * 3.9375;
$h2-font-size: $font-size-base * 2.4375;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base * .9375;

// Colors
$black: #071934;
$white: #ffffff;
$gray-600: #868686;
$gray-500: #aaa;
$gray-100: #fafafa;

$primary: #EC1846;
$secondary: #FF5E71;
$light: #E5E5E5;

$green: #10DC7A;
$blue: #0A3FCA;
$indigo: #1044CB;